[run]
branch = True
source = .
omit = */migrations/*, */tests/*, manage.py, */wsgi.py, */asgi.py, */settings*.py

[report]
fail_under = 60
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    @(abc\.)?abstractmethod
    if TYPE_CHECKING:

[html]
directory = coverage_html