[MASTER]
ignore=tests, Lib
jobs=1
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring

[FORMAT]
max-line-length=120

[DESIGN]
max-args=10
max-attributes=15
max-locals=20
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-public-methods=20

[TYPECHECK]
ignored-modules=
    django
    django.db
    django.conf
    django.core
    django.utils

[pylint_django]
django-settings-module=learningplatform_backend.settings
